body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    color: #333;
    margin: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 10px;
    border: 1px solid #555;
}

h1, h2 {
    color: #004080;
}

img {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
